@model FStudent.Models.ViewModels.EducationTypeVM
@{
    ViewData["Title"] = "Tài khoản User";
}
<div class="container-fluid px-0">
    <div class="flex-row d-flex">
        <div class="w-50">
            <h2 class="text-primary">Quản trị tài khoản User</h2>
        </div>
        <div class="w-50 d-flex justify-content-end">
            @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalCreateList">
                <img width="30" height="30" src="https://img.icons8.com/doodle/48/fa314a/add.png" />
                <span class="mt-1"> Đăng ký</span>
            </button>*@
        </div>

    </div>
    <div class="flex-row d-flex my-2">
        <div class="w-50 d-flex flex-row align-items-center justify-content-start">
            Hiển thị
            <select id="pagesize" onchange="goToPage(1);" class="custom-select custom-select-sm form-control form-control-sm w-auto mx-1">
                <option value="1">1</option>
                <option value="5" selected>5</option>
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="30">30</option>
                <option value="40">40</option>
                <option value="50">50</option>
            </select>
            dữ liệu
        </div>
        <div class="w-50 d-flex flex-row align-items-center justify-content-end">
            <input id="searchstring" placeholder="Tên tài khoản" type="text" class="form-control form-control-sm w-50 mr-2" />
            <button class="btn btn-primary btn-sm text-nowrap" onclick="goToPage(1)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search mb-1" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                </svg>
                <span class="my-auto"> Tìm</span>
            </button>
        </div>
    </div>
    <table class="table table-bordered table-hover mb-2 w-100">
        <thead class="text-center text-nowrap thead-light">
            <tr>
                <th class="align-middle">STT</th>
                <th class="align-middle w-25">Tên đăng nhập</th>
                <th class="align-middle w-50">Tên hiển thị</th>
                <th class="align-middle">Thao tác</th>
            </tr>
        </thead>
        <tbody id="data">
            @*Render data here*@
        </tbody>
    </table>
    <div class="flex-row d-flex align-items-start my-2">
        <div id="message" class="w-50 d-flex flex-row justify-content-start text-danger">
            @*Đây là nơi hiện thông báo*@
        </div>
        <div class="w-50 d-flex flex-row justify-content-end">
            <div id="resultmessage" class="w-auto d-flex flex-row justify-content-end text-danger mr-2">
                @*Đây là nơi hiện số kết quả*@
            </div>
            <ul class="my-auto pagination pagination-sm" id="splitPage">
            </ul>
        </div>
    </div>
</div>

@*Modal edit*@
<div class="modal fade" id="modalEdit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered justify-content-center">
        <form method="post">
            <div class="modal-content p-3" style="width: 550px;">
                <input id="modalEdit_Id" hidden />
                <div class="form-group flex-row d-flex justify-content-center mb-2">
                    <h2 class="text-info">Đổi mật khẩu</h2>
                </div>
                <div id="resetMessage" class="form-group d-flex text-left pl-2 mb-2 align-items-center text-danger">
                    @*Status message*@
                </div>
                <div class="form-group d-flex text-left mb-2 align-items-center">
                    <div class="w-25 pl-2">
                        <label class="my-auto">Tên đăng nhập</label>
                    </div>
                    <div class="w-75">
                        <input type="text" id="modalEdit_UserName" class="form-control" disabled />
                    </div>
                </div>

                <div class="form-group d-flex text-left mb-2 align-items-center">
                    <div class="w-25 pl-2">
                        <label class="my-auto">Mật khẩu mới</label>
                    </div>
                    <div class="w-75">
                        <input type="password" id="modalEdit_Password" class="form-control" />
                    </div>
                </div>
                <div class="form-group d-flex text-left mb-2 align-items-center">
                    <div class="w-25 pl-2">
                        <label class="my-auto">Nhập lại mật khẩu</label>
                    </div>
                    <div class="w-75">
                        <input type="password" id="modalEdit_RetypePassword" class="form-control" />
                    </div>
                </div>
                <div class="form-group d-flex flex-row justify-content-end my-0">
                    <div class="w-25"></div>
                    <div class="w-75 d-flex">
                        <button type="button" class="btn btn-success w-50 mr-2" data-dismiss="modal">Đóng</button>
                        <button type="button" onclick="update()" class="btn btn-primary w-50">Lưu</button>
                    </div>
                </div>
                <div class="form-group d-flex text-left mb-2 text-danger align-items-center">
                    Lưu ý: <br />Mật khẩu tối thiểu 6 kí tự.<br />Phải gồm tối thiểu 1 kí tự (a-z), (A-Z), (0-9) và kí tự đặc biệt.
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts{

    @{
        <partial name="_ValidationScriptsPartial" />
        <partial name="~/Views/Account/Scripts/IndexScripts2.cshtml" />
    }

}