@{
    ViewData["Title"] = "ITQNU";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<div class="p-3">
    <h4 class="text-danger">Từ chối truy cập!</h4>
    <p>Tài khoản của bạn chưa được xác minh nên chưa thể sử dụng tính năng này. Vui lòng cập nhật thông tin tài khoản và thử lại.</p>
</div>
