@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

        @if (SignInManager.IsSignedIn(User))
        {
            @*<li class="nav-item text-uppercase">
                <a id="manage" class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Chào @UserManager.GetUserName(User)!</a>
            </li>
            <li class="nav-item text-uppercase">
                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Đăng xuất</button>
                </form>
            </li>*@

            <li class="nav-item dropdown header-profile">
                <a class="nav-link" href="#" role="button" data-toggle="dropdown" data-target="#login_dropdown">
                    <span>
                    <img src="~/images/avtadmin/default.png" alt="" class="mr-2">
                        Chào @UserManager.GetUserName(User)!
                    </span>
                </a>
                <div class="dropdown-menu dropdown-menu-right" id="login_dropdown">
                    <a id="manage" asp-area="Identity" asp-page="/Account/Manage/Index" title="Thông tin cá nhân" class="dropdown-item">
                        <i class="icon-user"></i>
                        <span class="ml-2">Thông tin cá nhân</span>
                    </a>
                    <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="~/login">
                        @*<input id="logout" type="submit" class="ml-2" value="Đăng xuất"/>*@
                    </form>
                    <a class="dropdown-item" href="javascript:{}" onclick="document.getElementById('logoutForm').submit();">
                            <i class="icon-key"></i>
			            <span class="ml-2">Đăng xuất</span>
                    </a>
                </div>
            </li>
        }
        else
        {
            <li class="nav-item text-uppercase">
                <a class="nav-link" id="login" asp-area="Identity" asp-page="/Account/Login">Đăng nhập</a>
            </li>
        }
